
{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="refresh">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="OneCommand Web Portal">
    <meta name="author" content="DELL EMC">

    <!--favicon icon-->
    <title> DellEMC: OneCommand </title>
    <!--google font-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <!--static files-->
    <link href= "{%static 'css/onecommand/multi-select.css' %}"  rel="stylesheet">
    <link href= "{%static 'css/onecommand/animate.min.css' %}"  rel="stylesheet">
	<link href= "{%static 'css/onecommand/styles.css' %}"  rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="{%static 'js/jquery.multi-select.js' %}"></script>
    <script>
    $( "#my-select" ).remove();
    </script>
</head>

<body>
<!-- nav bar -->
<nav class="navbar navbar-light navbar-expand-md" style="background-color:#007db8;color:rgb(255,255,255);">
    <div class="container-fluid"><a href="index.html" class="navbar-brand text-white"> <img style="height:18px ; width:120px; margin-top: -4px;" src="{%static 'images/dell-tech.png'  %}" alt="Dell EMC logo"> | ONE COMMAND</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
            class="collapse navbar-collapse navbar-right" id="navcol-1">
             <ul class="nav navbar-nav ml-auto">
                <li role="presentation" class="nav-item"><a href="index.html" class="nav-link active" style="color:#ffffff;">Home <i class="fa fa-home"></i></a></li>
                <li role="presentation" class="nav-item active"><a href="inventory.html" class="nav-link" style="color:#ffffff;">Inventory <i class="fa fa-server"></i></a></li>
                 <li role="presentation" class="nav-item active"><a href="#" class="nav-link" style="color:#ffffff;">About <i class="fa fa-info"></i></a></li>
                 <li role="presentation" class="nav-item active"><a href="#" class="nav-link" style="color:#ffffff;">Help <i class="fa fa-user"></i></a></li>

            </ul>
    </div>
    </div>
</nav>
<br>
    <h1 style="color: navy; text-align: center"> NAS Inventory </h1>

  <table class="table table-hover">
    <thead style="color: white;background-color: navy; ">
      <tr>
        <th>Serial</th>  
        <th>Server Name</th>
        <th>Server IP</th>
        <th>Model</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>CKM00164100502</td>  
        <td>nasegca2</td>
        <td>10.28.176.30</td>
        <td>VNX5500</td>
      </tr>
      <tr>
        <td>CKM00103800797</td>  
        <td>nascrk3</td>
        <td>10.73.243.131</td>
        <td>NS-G8</td>  
      </tr>
    



                    ''            		   
                    ''           		   
                    '10.76.84.16'             		  nasishz1
                    '10.35.79.42'             		  nascncd2
                    '10.44.2.105'             		  nassisi1
                    '10.77.142.55'            		  nasinba1
                    '10.30.176.55'            		  nasbavdi1
                    '10.70.52.20'             		  nasgefr1
                    '10.32.58.208'            		  nasjpto1
                    '152.62.254.13'           		   nasukbr1
                    '10.22.222.28'            		  nasfrpa1
                    '10.84.80.13'             		  nascnsh1
                    '10.32.87.140'            		  nascnbe1
                    '10.77.0.13'              		  nasrusp1
                    '10.35.254.11'            		  nasausy1

                    '10.254.148.230'                 nashapp2
                    '10.254.230.110'                 nashvdi2
                    '10.254.100.27'                  nasheng1
                    '10.254.92.120'                  nashpra1
                    '10.254.234.143'                 nasheng2
                    '10.254.230.153'                 nashsap1
                    '10.254.234.243'                 nashpra2
                    '10.253.8.28'                	 nashprd1
                    '10.254.230.159'                 nashcrm1
                    '10.254.230.153'                 nashsap1
                    '10.254.227.116'                 nasheng3
                    '10.254.238.92'                  nashepas1
                    '10.252.199.100'                 enashsap1
                    '10.254.148.64'                  nask
                    '10.254.148.57'                  nasl
                    '10.254.148.27'                  nash
                    '10.254.148.200'                 corpnash1
                    '10.254.148.180'                 corpnasapp1


                    '10.104.127.65'                  nasdprb1
                    '10.104.127.57'                  nasdprd1
                    '10.104.127.22'                  nasdprc1
                    '10.104.127.26'                  nasdpra1
                    '10.104.41.114'                  nasdpra2
                    '10.104.127.61'                  nasdsap1
                    '10.104.127.86'                  nasdeng2
                    '10.104.127.84'                  nasdcrm1
                    '10.104.127.107'                  nasdvdi1
                    '10.104.127.86'                  nasdeng2
                    '10.104.58.27'                  nasdsas1
                    '10.104.58.23'                  nasdepas1
                    '10.104.54.104'                  nasdprb2
                    '10.104.58.41'                  nasdeng3
                    '10.104.75.100'                  enasdsap1

            </tbody>
        </table>
    
</body>
</html>