
{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="refresh">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="DELL">

    <!--favicon icon-->
    <title> DellEMC: OneCommand </title>
    <!--google font-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link href= "{%static 'css/onecommand/multi-select.css' %}"  rel="stylesheet">
   <link href= "{%static 'css/onecommand/animate.min.css' %}"  rel="stylesheet">
	<link href= "{%static 'css/onecommand/styles.css' %}"  rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="{%static 'js/jquery.multi-select.js' %}"></script>
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md" style="background-color:#007db8;color:rgb(255,255,255);">
    <div class="container-fluid"><a href="#" class="navbar-brand text-white"> <img style="height:18px ; width:120px; margin-top: -4px;" src="{%static 'images/logo2.png'  %}" alt="Dell EMC logo"></img> | ONE COMMAND</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
            class="collapse navbar-collapse navbar-right" id="navcol-1">
             <ul class="nav navbar-nav ml-auto">
                <li role="presentation" class="nav-item"><a href="#" class="nav-link active" style="color:#ffffff;">Home <i class="fa fa-home"></i></a></li>
                <li role="presentation" class="nav-item active"><a href="#" class="nav-link" style="color:#ffffff;">Inventory <i class="fa fa-server"></i></a></li>
                 <li role="presentation" class="nav-item active"><a href="#" class="nav-link" style="color:#ffffff;">About <i class="fa fa-info"></i></a></li>
                 <li role="presentation" class="nav-item active"><a href="#" class="nav-link" style="color:#ffffff;">Help <i class="fa fa-user"></i></a></li>

            </ul>
    </div>
    </div>
</nav>
<br>

<div class="container">
	<div class="row">
		<div class="col-md-3">

    </div>
		<div class="col-md-6 animated FadeInUp">

			<h2 class="text-center text-info">Select NAS servers</h2>
			<hr>
      <div class="sidenav" style="text-align: center;">
        <a id="select-all">Select All |</a>
        <a id="deselect-all">Deselect |</a>
        <a id="hop">Hopkinton |</a>
        <a id="international">International |</a>
        <a id="durham">Durham</a>
      </div>
      <br>
        <div class="col-md-12">
			<form action="/result/" method="post" name="form1">
				{% csrf_token %}				
              <select id='my-select' name="nasservers" multiple='multiple'>
			  
			  <option value='10.28.176.30'>nasegca2</option>
<option value='10.73.243.131'>nascrk3</option>
<option value='10.76.84.16'>nasishz1</option>
<option value='10.35.79.42'>nascncd2</option>
<option value='10.44.2.105'>nassisi1</option>
<option value='10.77.142.55'>nasinba1</option>
<option value='10.30.176.55'>nasbavdi1</option>
<option value='10.70.52.20'>nasgefr1</option>
<option value='10.32.58.208'>nasjpto1</option>
<option value='152.62.254.13'>nasukbr1</option>
<option value='10.22.222.28'>nasfrpa1</option>
<!-- <option value='10.84.80.13'>nascnsh1</option> -->
<option value='10.32.87.140'>nascnbe1</option>
<option value='10.77.0.13'>nasrusp1</option>
<!-- <option value='10.35.254.11'>nasausy1</option> -->

<option value='10.254.148.230'>nashapp2</option>
<option value='10.254.230.110'>nashvdi2</option>
<option value='10.254.100.27'>nasheng1</option>
<option value='10.254.92.120'>nashpra1</option>
<option value='10.254.234.143'>nasheng2</option>
<option value='10.254.230.153'>nashsap1</option>
<option value='10.253.8.28'>nashprd1</option>
<option value='10.254.230.159'>nashcrm1</option>
<!-- <option value='10.254.230.153'>nashsap1</option> -->
<option value='10.254.227.116'>nasheng3</option>
<option value='10.254.238.92'>nashepas1</option>
<option value='10.252.199.100'>enashsap1</option>
<option value='10.254.148.64'>nask</option>
<option value='10.254.148.57'>nasl</option>
<option value='10.254.148.27'>nash</option>
<option value='10.254.148.200'>corpnash1</option>
<option value='10.254.148.180'>corpnasapp1</option>


<option value='10.104.127.65'>nasdprb1</option>
<option value='10.104.127.57'>nasdprd1</option>
<option value='10.104.127.22'>nasdprc1</option>
<option value='10.104.127.26'>nasdpra1</option>
<option value='10.104.127.61'>nasdsap1</option>
<option value='10.104.127.86'>nasdeng2</option>
<option value='10.104.127.84'>nasdcrm1</option>
<!-- <option value='10.104.127.107'>nasdvdi1</option> -->
<option value='10.104.127.86'>nasdeng2</option>
<option value='10.104.58.27'>nasdsas1</option>
<!-- <option value='10.104.58.23'>nasdepas1</option> -->
<option value='10.104.54.104'>nasdprb2</option>
<option value='10.104.58.41'>nasdeng3</option>
<option value='10.104.75.100'>enasdsap1</option>
  </select>
 <!--
				<option value='nasegca2'>nasegca2</option>
				<option value='nascrk3'>nascrk3</option>
				<option value='nasishz1'>nasishz1</option>
				<option value='nascncd2'>nascncd2</option>
				<option value='nassisi1'>nassisi1</option>
				<option value='nasinba1'>nasinba1</option>
				<option value='nasbavdi1'>nasbavdi1</option>
				<option value='nasgefr1'>nasgefr1</option>
				<option value='nasjpto1'>nasjpto1</option>
				<option value='nasukbr1'>nasukbr1</option>
				<option value='nasfrpa1'>nasfrpa1</option>
				<option value='nascnsh1'>nascnsh1</option>
				<option value='nascnbe1'>nascnbe1</option>
				<option value='nasrusp1'>nasrusp1</option>
				<option value='nasausy1'>nasausy1</option>

				<option value='nashapp2'>nashapp2</option>
				<option value='nashvdi2'>nashvdi2</option>
				<option value='nasheng1'>nasheng1</option>
				<option value='nashpra1'>nashpra1</option>
				<option value='nasheng2'>nasheng2</option>
				<option value='nashsap1'>nashsap1</option>
				<option value='nashprd1'>nashprd1</option>
				<option value='nashcrm1'>nashcrm1</option>
				<option value='nashsap2'>nashsap2</option>
				<option value='nasheng3'>nasheng3</option>
				<option value='nashepas1'>nashepas1</option>
				<option value='enashsap1'>enashsap1</option>
				<option value='nask'>nask</option>
				<option value='nasl'>nasl</option>
				<option value='nash'>nash</option>
				<option value='corpnash1'>corpnash1</option>
				<option value='corpnasapp1'>corpnasapp1</option>
				<option value='nashsap1'>nashsap1</option>

				<option value='nasdprb1'>nasdprb1</option>
				<option value='nasdprd1'>nasdprd1</option>
				<option value='nasdprc1'>nasdprc1</option>
				<option value='nasdpra1'>nasdpra1</option>
				<option value='nasdsap1'>nasdsap1</option>
				<option value='nasdeng2'>nasdeng2</option>
				<option value='nasdcrm1'>nasdcrm1</option>
				<option value='nasdvdi'>nasdvdi</option>
				<option value='nasdeng2'>nasdeng2</option>
				<option value='nasdsas1'>nasdsas1</option>
				<option value='nasdepas1'>nasdepas1</option>
				<option value='nasdprb2'>nasdprb2</option>
				<option value='nasdeng3'>nasdeng3</option>
				<option value='enasdsap1'>enasdsap1</option>

			</select>
-->
        </div>
        <br>
        <br>


		<div class="row">
            <div class="col-md-8" style="margin-left: 40px;">

    <div class="form-group">

      <input type="text" class="form-control" placeholder="Enter Command" name="command">
    </div>


            </div>

            <div class="col-md-3">
                <button type="submit" value ="submit" class="btn btn-lg btn-danger c" style="display: block !important;font-size: 15px;margin-left: 10px;">Fire <i class="fas fa-fire"></i></button>
            </div>
        </div>
		 </form>

	</div>
		</div>
    </div>
    <div class="col-md-3"></div>
</div>

</div>

<div class="footer col text-center text-white py-1" style="background-color:#007db8; position: fixed; left: 0; bottom: 0;"> DellEMC Corporation &#174; </div>

</body>
<script>

  // run #my-select options
  $('#my-select').multiSelect();
  $('#select-all').click(function(){
  $('#my-select').multiSelect('select_all');
  return false;
});
  $('#deselect-all').click(function(){
  $('#my-select').multiSelect('deselect_all');
  return false;
  });
$('#international').click(function(){
  $('#my-select').multiSelect('select', ['nasegca2', 'nascrk3', 'nasishz1', 'nascncd2', 'nassisi1', 'nasinba1','nasbavdi1', 'nasgefr1', 'nasjpto1', 'nasukbr1', 'nasfrpa1', 'nascnbe1', 'nasrusp1','nascnsh1','nasausy1']);
  return false;
});

      $('#hop').click(function(){
  $('#my-select').multiSelect('select', [ 'nashapp2','nashvdi2','nasheng1', 'nashpra1', 'nasheng2','nashsap1', 'nashprd1','nashcrm1', 'nashsap2','nasheng3','nashepas1','enashsap1','nask','nasl','corpnash1','corpnasapp1','nash','nashapp2','nashsap1']);
  return false;
});

$('#durham').click(function(){
  $('#my-select').multiSelect('select', ['nasdprb1', 'nasdprd1',  'nasdprc1', 'nasdpra1', 'nasdsap1','nasdeng2','nasdcrm1', 'nasdvdi','nasdeng2','nasdsas1', 'nasdepas1', 'nasdprb2','nasdeng3','enasdsap1',]);
  return false;
});

$('#my-select').multiSelect({
  selectableHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='try \"12\"'>",
  selectionHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='try \"4\"'>",
  afterInit: function(ms){
    var that = this,
        $selectableSearch = that.$selectableUl.prev(),
        $selectionSearch = that.$selectionUl.prev(),
        selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
        selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
    .on('keydown', function(e){
      if (e.which === 40){
        that.$selectableUl.focus();
        return false;
      }
    });

    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
    .on('keydown', function(e){
      if (e.which == 40){
        that.$selectionUl.focus();
        return false;
      }
    });
  },
  afterSelect: function(){
    this.qs1.cache();
    this.qs2.cache();
  },
  afterDeselect: function(){
    this.qs1.cache();
    this.qs2.cache();
  }
});

  </script>



</html>
