
{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="refresh">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="OneCommand Web Portal">
    <meta name="author" content="DELL EMC">

    <!--favicon icon-->
    <title> DellEMC: OneCommand </title>
    <!--google font-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <!--static files-->
    <link href= "{%static 'css/onecommand/multi-select.css' %}"  rel="stylesheet">
    <link href= "{%static 'css/onecommand/animate.min.css' %}"  rel="stylesheet">
	<link href= "{%static 'css/onecommand/styles.css' %}"  rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="{%static 'js/jquery.multi-select.js' %}"></script>
    <script>
    $( "#my-select" ).remove();
    </script>
</head>

<body>
<!-- nav bar -->
<nav class="navbar navbar-light navbar-expand-md" style="background-color:#007db8;color:rgb(255,255,255);">
    <div class="container-fluid"><a href="" class="navbar-brand text-white"> <img style="height:20px ; width:80px; margin-top: -4px;object-fit: cover;" src="{%static 'images/logo6.png'  %}" alt="Dell EMC logo"> | ONE COMMAND</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
            class="collapse navbar-collapse navbar-right" id="navcol-1">
             <ul class="nav navbar-nav ml-auto">
                <li role="presentation" class="nav-item"><a href="#" class="nav-link active" style="color:#ffffff;">Home <i class="fa fa-home"></i></a></li>
                <li role="presentation" class="nav-item active"><a href="isi_inventory.html" class="nav-link" style="color:#ffffff;">Inventory <i class="fa fa-server"></i></a></li>
                 <li role="presentation" class="nav-item active"><a href="#" class="nav-link" style="color:#ffffff;">About <i class="fa fa-info"></i></a></li>
                 <li role="presentation" class="nav-item active"><a href="#" class="nav-link" style="color:#ffffff;">Help <i class="fa fa-user"></i></a></li>

            </ul>
    </div>
    </div>
</nav>
<br>
<!-- form-table -->
<div class="container">
	<div class="row">
		<div class="col-md-3"> </div>
		<div class="col-md-6 animated FadeInUp">

			<h2 class="text-center text-info">Select NAS servers</h2>
			<hr>
      <div class="sidenav" style="text-align: center; color: #666666;">
          <button type="button" class="btn btn-success" id="select-all">Select All </button>
            <button type="button" class="btn btn-success " id="deselect-all"> Reset </button>

      </div>
      <br/>
        <div class="col-md-12">
            <!--Multi-select form -->
            <form action="/result/" method="post" name="form1">
                {% csrf_token %}
              <select id='my-select' name="nasservers" multiple='multiple'>

                    <option value='10.104.127.109'>sondur1</option>
                    <option value='10.104.127.126'>sondur2</option>
                    <option value='10.104.70.52'>sondur4</option>
                    <option value='10.104.70.40'>sondbdl1</option>
                    <option value='10.104.60.34'>sondgst1</option>
                    <option value='10.254.234.154'>sonhop1</option>
                    <option value='10.254.234.178'>sonhop2</option>
                    <option value='10.253.8.128'>sonhop3</option>
                    <option value='10.254.241.158'>sonhop4</option>
                    <option value='10.252.218.11'>sonhopbdlp1</option>
                </select>

        </div>
        <br/>
        <br/>


        <div class="row">
            <!-- Enter Command here -->
            <div class="col-md-8" style="margin-left: 40px;">
                <div class="form-group">

                    <input type="text" class="form-control" placeholder="Please enter full NAS command here" name="command">
                </div>
            </div>

            <div class="col-md-3">
                <!-- Fire Button -->
                <button type="submit" value ="submit" class="btn btn-lg btn-danger myButton" style="display: block !important;font-size: 15px;margin-left: 10px;">Fire <i class="fas fa-fire wobble"></i></button>
            </div>
        </div>

            </form>

        </div>
        </div> <!-- div-row -->
    </div> <!--Form Container ends here -->
    <div class="col-md-3"></div>
</div>

<!--
<div class="spinner" style="display: none;">
    <img id="img-spinner" src="{%static 'images/spinner2.gif'  %}" alt="Loading"/>
</div>
-->
    
<div class="d-flex justify-content-center">
  <div class="spinner-border text-success mx-auto" role="status" style="width: 40px; height: 40px;">
    <span class="sr-only">Loading...</span>
  </div>
</div>


</div>

<div class="footer col text-center text-white py-1" style="background-color:#007db8; position: fixed; left: 0; bottom: 0;"> DellEMC Corporation &#174; </div>

</body>


<script>
$(document).ready(function(){
    $(".spinner-border").hide();
    $(".myButton").click(function(){
        $('.container').fadeOut();
        $(".spinner-border").show();
});
});
    $('#reset').css('text-decoration', 'none');
    $('#reset').css('color', '#666666');


  // run #my-select options
  $('#my-select').multiSelect();
  $('#select-all').click(function(){
  $('#my-select').multiSelect('select_all');
  return false;
});
  $('#deselect-all').click(function(){
  $('#my-select').multiSelect('deselect_all');
  return false;
  });


// Loader 




$('#my-select').multiSelect({
  selectableHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='try \"12\"'>",
  selectionHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='try \"4\"'>",
  afterInit: function(ms){
    var that = this,
        $selectableSearch = that.$selectableUl.prev(),
        $selectionSearch = that.$selectionUl.prev(),
        selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
        selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
    .on('keydown', function(e){
      if (e.which === 40){
        that.$selectableUl.focus();
        return false;
      }
    });

    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
    .on('keydown', function(e){
      if (e.which == 40){
        that.$selectionUl.focus();
        return false;
      }
    });
  },
  afterSelect: function(){
    this.qs1.cache();
    this.qs2.cache();
  },
  afterDeselect: function(){
    this.qs1.cache();
    this.qs2.cache();
  }
});


  </script>



</html>
